<div class="alert alert-info" role="alert">
	Documentation for the Fuel Java SDK can be found at <a href="http://salesforce-marketingcloud.github.io/FuelSDK-Java/">http://salesforce-marketingcloud.github.io/FuelSDK-Java/</a>
</div>