@font-face{
    font-family: DSCDefaultFontBold;
    src:url('/resource/fonts/salesforce/SalesforceSans-Bold.eot');
    src:url('/resource/fonts/salesforce/SalesforceSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('/resource/fonts/salesforce/SalesforceSans-Bold.woff') format('woff'),
        url('/resource/fonts/salesforce/SalesforceSans-Bold.ttf') format('truetype'),
        url('/resource/fonts/salesforce/SalesforceSans-Bold.svg#SalesforceSansBold') format('svg');
    font-weight:bold;
    font-style:normal;
}
@font-face{
    font-family: DSCDefaultFontBoldItalic;
    src:url('/resource/fonts/salesforce/SalesforceSans-BoldItalic.eot');
    src:url('/resource/fonts/salesforce/SalesforceSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/resource/fonts/salesforce/SalesforceSans-BoldItalic.woff') format('woff'),
        url('/resource/fonts/salesforce/SalesforceSans-BoldItalic.ttf') format('truetype'),
        url('/resource/fonts/salesforce/SalesforceSans-BoldItalic.svg#SalesforceSansBoldItalic') format('svg');
    font-weight:bold;
    font-style:italic;
}
@font-face{
    font-family: DSCDefaultFontItalic;
    src:url('/resource/fonts/salesforce/SalesforceSans-Italic.eot');
    src:url('/resource/fonts/salesforce/SalesforceSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('/resource/fonts/salesforce/SalesforceSans-Italic.woff') format('woff'),
        url('/resource/fonts/salesforce/SalesforceSans-Italic.ttf') format('truetype'),
        url('/resource/fonts/salesforce/SalesforceSans-Italic.svg#SalesforceSansItalic') format('svg');
    font-weight:normal;
    font-style:italic;
}
@font-face{
    font-family: DSCDefaultFontLight;
    src:url('/resource/fonts/salesforce/SalesforceSans-Light.eot');
    src:url('/resource/fonts/salesforce/SalesforceSans-Light.eot?#iefix') format('embedded-opentype'),
        url('/resource/fonts/salesforce/SalesforceSans-Light.woff') format('woff'),
        url('/resource/fonts/salesforce/SalesforceSans-Light.ttf') format('truetype'),
        url('/resource/fonts/salesforce/SalesforceSans-Light.svg#SalesforceSansLight') format('svg');
    font-weight:300;
    font-style:normal;
}
@font-face{
    font-family: DSCDefaultFontLightItalic;
    src:url('/resource/fonts/salesforce/SalesforceSans-LightItalic.eot');
    src:url('/resource/fonts/salesforce/SalesforceSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/resource/fonts/salesforce/SalesforceSans-LightItalic.woff') format('woff'),
        url('/resource/fonts/salesforce/SalesforceSans-LightItalic.ttf') format('truetype'),
        url('/resource/fonts/salesforce/SalesforceSans-LightItalic.svg#SalesforceSansLightItalic') format('svg');
    font-weight:300;
    font-style:italic;
}
@font-face{
    font-family: DSCDefaultFontRegular;
    src:url('/resource/fonts/salesforce/SalesforceSans-Regular.eot');
    src:url('/resource/fonts/salesforce/SalesforceSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('/resource/fonts/salesforce/SalesforceSans-Regular.woff') format('woff'),
        url('/resource/fonts/salesforce/SalesforceSans-Regular.ttf') format('truetype'),
        url('/resource/fonts/salesforce/SalesforceSans-Regular.svg#SalesforceSansRegular') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family: DSCDefaultFontThin;
    src:url('/resource/fonts/salesforce/SalesforceSans-Thin.eot');
    src:url('/resource/fonts/salesforce/SalesforceSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('/resource/fonts/salesforce/SalesforceSans-Thin.woff') format('woff'),
        url('/resource/fonts/salesforce/SalesforceSans-Thin.ttf') format('truetype'),
        url('/resource/fonts/salesforce/SalesforceSans-Thin.svg#SalesforceSansThin') format('svg');
    font-weight:100;
    font-style:normal;
}
@font-face{
    font-family: DSCDefaultFontThinItalic;
    src:url('/resource/fonts/salesforce/SalesforceSans-ThinItalic.eot');
    src:url('/resource/fonts/salesforce/SalesforceSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/resource/fonts/salesforce/SalesforceSans-ThinItalic.woff') format('woff'),
        url('/resource/fonts/salesforce/SalesforceSans-ThinItalic.ttf') format('truetype'),
        url('/resource/fonts/salesforce/SalesforceSans-ThinItalic.svg#SalesforceSansThinItalic') format('svg');
    font-weight:100;
    font-style:italic;
}
html,
body,
*,
p,
ol,
ul,
td,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: DSCDefaultFontRegular;
}
header .navbar .nav>li>a {
    font-family: DSCDefaultFontBold;
}
.social-search .search-query,
.social-search input.gsc-input {
    font-family: DSCDefaultFontRegular;
    font-size: 12px;
    padding: 6px 27px 4px 10px;
    margin: 2px 0 0 0;
    box-sizing: content-box;
    height: 14px;
}
footer h3,
footer ul.unstyled li a {
    font-family: DSCDefaultFontRegular !important;
}
.footer-copyright {
    font-family: DSCDefaultFontRegular;
}
.footer-links a {
    font-family: DSCDefaultFontRegular;
}
.hero-slider .slider-item-caption {
    font-family: DSCDefaultFontLight !important;
}
