app/bower_components**
bower_components**
node_modules**
optimized**
gh_pages**
optimized**
code-site**
marketing-cloud-doc**
content_orig**
code-blog**
.*.swp
.idea/
grunt_working**
npm-debug.log
.gitignore~
.DS_Store
preview_temp_mc_html/**
rel_mc_html/**
